/task1.iml
/.idea/
/task1/target/classes/pl/strachota/Branches.class
/task1/target/classes/pl/strachota/ConiferousTree.class
/task1/target/classes/pl/strachota/DeciduousTree.class
/task1/target/classes/pl/strachota/Leaves.class
/task1/target/classes/pl/strachota/Main.class
/task1/target/classes/pl/strachota/Tree.class
/task1/target/classes/pl/strachota/Trunk.class
